<div class="row">
  <div class="col-sm-12">
    <h3>Get in touch</h3>
    <p>Made by some guy from Slapshot Productions. Wing me an email if you would like me to do some work for you.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
        <label>Your email address</label>
      {{input type="email" class="form-control" placeholder="Please enter your email address" value=emailAddress autofocus="autofocus"}}
    </div>
    <div class="form-group">
      <label>Your message:</label>
      {{textarea class="form-control" placeholder="Please enter your message" rows="5" value=message}}
    </div>
    <button class="btn btn-success" {{action 'sendMessage'}} disabled="{{unless isValid 'disabled'}}">Send</button>
  </div>

  {{#if responseMessage}}
    <div class="col-md-6">
      <br/>
      <div class="alert alert-success">
        <h4>Thank you! Your message has been sent.</h4>
        <p>{{responseMessage}}</p>
      </div>
    </div>
  {{/if}}
</div>
